.mealItem {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-radius: 13px;
	box-shadow: 0 7px 10px rgba(#000, 0.1);
	padding-bottom: 20px;
	position: relative;

	& h4 {
		font-size: 20px;
	}

	& p {
		text-align: center;
		font-size: 18px;
		max-width: 200px;
		flex-grow: 1;
	}

	& button {
		padding: 5px;
		border-radius: 13px;
		background-color: var(--accent-color);
		font-size: 20px;
		font-weight: 700;
		cursor: pointer;
		border: none;
		transition: all 0.3s ease 0s;



		&:hover {
			background-color: var(--accent-color-hover);
			transform: scale(1.1);
		}
	}

	&Wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		gap: 10px;

	}

	&Input {



		& input {
			max-width: 70px;
			border: 1px solid var(--accent-color);
			border-radius: 13px;

			&:focus {

				border: 2px solid var(--accent-color-hover);
			}
		}
	}

	&Error {
		position: absolute;
		bottom: 0;
		left: 25%;
		color: tomato;
		font-size: 20px;

	}
}